.itemcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divtext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

